$font-stack: 'Montserrat', sans-serif;
$bg-color: #282828;
$text-color: #ebdbb2;
$def-text-size: 32px;


html, body {
  background-color: $bg-color;
  color: $text-color;
  font-size: $def-text-size;
  font-family: $font-stack;
}

$link-color: orange; 
$link-hover-color: #d90368;

a {
  font-weight: bold;
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid $link-color;
  transition: .1s;
  
  &:hover, &:focus {
    color: $link-hover-color;
    border-bottom: 2px solid $link-hover-color;
  }
}

h1 {
  font-size: $def-text-size;
  white-space: nowrap;  
  &:before {
    content: "char* "attr(data-varname)" = \""; 
    
  }
  
  &:after {
    content: "\";"; 
  }


}

section { 
  &.header {
    #home-link {
      text-decoration: none;
      padding-left: 0;
      &:before {
        content: "int ";
      }
      &:after {
        content: "(int nargs, char** argv) {\a";
      }
    }

    &:before {
      content: "";
    }
  }
  

  &:before { 
    content: "void "attr(data-varname)"() {\a";
  }

  &:after {
    content: "\a}";
  }
  
  & > * {
    margin:0;
    padding:0;
    padding-left: 1em;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin:  0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  li {
    padding-right: .5em;
    
    &:after { 
      content: ",";
    }
    &:before { 
      content: "&";
    }
    &:last-child:after {
      content: "";
    }
  }
  
  &:before {
    content: "void (*"attr(data-varname)")()[] = { ";
    padding-right: .5em;
  }

  &:after {
    content: "};"
  }
}


.code-hacks:before, .code-hacks:after, .code {
  font-family: monospace;
  font-weight: normal;
  filter: opacity(70%) contrast(10%) grayscale(10%) ;
}

footer {
  height: 6.0rem;
  width: 100%;
  text-align: center;
  line-height: 6.0rem;
  font-size: round($def-text-size * .75);

  &:before {
    content: "/* ";
    padding-right: .5em;
  }
  &:after {
    content: " */";
    padding-left: .5em;
  }
}

div.content {
  &:before {
    content: "char* "attr(data-varname)" = \"\a";
  }
  &:after {
    content: "\a\";";
  }

  p {
    &:first-child {
      margin-top: 0;
      padding-top:0;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom:0;
    }
  }
}

@media only screen and (max-width: 600px) {
  $sm-text-size: round($def-text-size * .75);

  html, body, h1 {
    font-size: $sm-text-size;
  }

  section { 
    &.header {
      #home-link {
        &:after {
          content: "() {\a";
        }
      }
    }
  }

  h1:before {
    content: "char* "attr(data-varname)" =\a \"";
    white-space: pre;
  }

  nav ul {
    flex-direction: column;
    li {
      padding-left: 1em;
      padding-top: .2em;
    }
  }
  
  footer {
    font-size: round($sm-text-size * .75);
  }
}
