html, body {
  background-color: #282828;
  color: #ebdbb2;
  font-size: 32px;
  font-family: "Montserrat", sans-serif; }

a {
  font-weight: bold;
  text-decoration: none;
  color: orange;
  border-bottom: 1px solid orange;
  transition: .1s; }
  a:hover {
    color: #d90368;
    border-bottom: 2px solid #d90368; }

h1#title {
  font-size: 32px;
  white-space: nowrap; }
  h1#title:before {
    content: "char* title = \""; }
  h1#title:after {
    content: "\";"; }

section:before {
  content: "int main(int nargs, char* argv) {\a"; }
section:after {
  content: "\a}"; }
section > * {
  margin: 0;
  padding: 0;
  padding-left: 1em; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  nav ul li {
    padding-right: .5em; }
    nav ul li:after {
      content: ","; }
    nav ul li:before {
      content: "&"; }
    nav ul li:last-child:after {
      content: ""; }
  nav ul#nav:before {
    content: "void (*nav)()[] = { ";
    padding-right: .5em; }
  nav ul#social:before {
    content: "void (*social)()[] = { ";
    padding-right: .5em; }
  nav ul:after {
    content: "};"; }

.code-hacks:before, .code-hacks:after, .code {
  font-family: monospace;
  font-weight: normal;
  filter: opacity(70%) contrast(10%) grayscale(10%); }

@media only screen and (max-width: 600px) {
  html, body, h1#title {
    font-size: 24px; }

  h1#title:before {
    content: "char* title =\a \"";
    white-space: pre; }

  nav ul {
    flex-direction: column; }
    nav ul li {
      padding-left: 1em;
      padding-top: .2em; } }
