<section class="code-hacks header">
  <span id="home-link" class="code-hacks"><a  href="{{ .Site.BaseURL }}">
    {{- with .Site.Params.main_link_name -}}
      {{- . -}}
    {{- else -}}
      main
    {{- end -}}
    </a></span>
  <h1 id="title" class="code-hacks" data-varname="name">{{ .Site.Title }}</h1>
  
  {{ with .Site.Menus.main }}
  <nav>
    <ul id="nav" class="code-hacks" data-varname="nav">
      {{ range sort . }}
      <li class="code-hacks"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
  
  {{ with .Site.Params.social }}
  <nav>
    <ul  id="social" class="code-hacks" data-varname="social">
      {{ range sort . }}
      <li class="code-hacks"><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</section>
